    body {
        font-size: 16px;
        color: #FFFFFF;
        background-color: #ffa500;
        font-family: 'Oxygen', sans-serif;
    }
    /** HEADER **/
    
    #header-nav {
        background-color: #000000;
        border-radius: 0;
        border: 0;
    }
    
    .navbar-brand {
        padding-top: 25px;
        height: 80px;
    }
    
    .navbar-brand h1 {
        /* Restaurant name */
        font-family: 'Lora', serif;
        color: #ffffff;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 0;
        text-align: left;
    }
    
    .navbar-brand a:hover,
    .navbar-brand a:focus {
        text-decoration: none;
    }
    
    #nav-list {
        margin-top: 10px;
    }
    
    #nav-list a {
        color: #ffffff;
        text-align: center;
    }
    
    #nav-list a:hover {
        background: #E7E7E7;
    }
    
    #nav-list a span {
        font-size: 1.8em;
    }
    
    .navbar-header button.navbar-toggle,
    .navbar-header .icon-bar {
        border: 1px solid #ffa500;
    }
    
    .navbar-header button.navbar-toggle {
        clear: both;
        margin-top: -30px;
    }
    /* END HEADER */
    
    #main-text {
        background-color: #012345;
        padding: 10px;
        margin: 10px;
    }
